@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>The purpose of this application is to manage the lunch sessions of workers in companies. The application is developed by Ebisu Software. Please contact us for further information.</p>
