@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    <br>Address: ITU Teknokent, Istanbul / Turkey<br />
    <abbr title="Phone">Phone:</abbr>
    0212 289 6352
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:Support@example.com">contact@neredeyesek.com</a><br />
</address>